<div class="side_bar_left">
  <a href="https://github.com/yoondahm" target="_blank" rel="noopener noreferrer">
    <img src="https://github.com/yoondahm.png" alt="프로필 사진" class="profile-image">
  </a>
  <h1 class="name not_draggable">yoondahm</h1>
  <div class="description not_draggable">{{ site.description }}</div>
  <ul>
    <li><a href="https://github.com/yoondahm/yoondahm.github.io" target="_blank" rel="noopener noreferrer">Github Repository</a></li>
    <li><a href={{"/" | relative_url }}>테스트2</a></li>
    <li><a href={{"/" | relative_url }}>테스트3</a></li>
  </ul>
</div>
