.post-list {
  list-style: none;
}

.post-list li {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 1.1rem 0;
  border-bottom: 1px solid var(--border);
}

.post-list a {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text);
  text-decoration: none;
  transition: 0.2s ease;
  padding-left: .7rem;
  border-left: 0px solid var(--primary);
}

.post-list a:hover {
  color: var(--primary);
  transform: translateX(.7rem) scale(1.05);
  border-left: 0.4rem solid var(--primary);
  
}

.post-list time {
  font-size: 0.85rem;
  color: var(--text-muted);
  white-space: nowrap;
  margin-left: 1rem;
}
