/* ── Reset & Base ── */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* hsl (fallback color) */
  --bg-dark: hsl(219 23% 1%);
  --bg: hsl(217 15% 5%);
  --bg-light: hsl(217 8% 9%);
  --text: hsl(217 46% 95%);
  --text-muted: hsl(217 7% 70%);
  --highlight: hsl(217 5% 39%);
  --border: hsl(217 6% 29%);
  --border-muted: hsl(217 9% 18%);
  --primary: hsl(217 78% 75%);
  --secondary: hsl(38 55% 61%);
  --danger: hsl(9 26% 64%);
  --warning: hsl(52 19% 57%);
  --success: hsl(146 17% 59%);
  --info: hsl(217 28% 65%);
  /* oklch */
  --bg-dark: oklch(0.1 0.005 260);
  --bg: oklch(0.15 0.005 260);
  --bg-light: oklch(0.2 0.005 260);
  --text: oklch(0.96 0.01 260);
  --text-muted: oklch(0.76 0.01 260);
  --highlight: oklch(0.5 0.01 260);
  --border: oklch(0.4 0.01 260);
  --border-muted: oklch(0.3 0.01 260);
  --primary: oklch(0.76 0.1 260);
  --secondary: oklch(0.76 0.1 80);
  --danger: oklch(0.7 0.05 30);
  --warning: oklch(0.7 0.05 100);
  --success: oklch(0.7 0.05 160);
  --info: oklch(0.7 0.05 260);
  /* 그림자 */
  --shadow-s:
    inset 0 1px 1px #ffffff30, 0 2px 4px #00000030, 0 4px 8px #00000015;
  --shadow-m:
    inset 0 1px 1px #ffffff45, 0 2px 4px #00000030, 0 4px 8px #00000015;
  --shadow-l:
    inset 0 1px 1px #ffffff60, 0 4px 6px #00000030, 0 6px 10px #00000015;
  /* 전역 변수 */
  --font-sans: "Pretendard", "Apple SD Gothic Neo", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
  --max-width: 700px;
  /* --mobile-max-width: 1200px; */
  @media (max-width: 1200px) {
    --max-width: 95%;
  }
}

:root.light-mode {
  /* hsl (fallback color) */
  --bg-dark: hsl(217 10% 90%);
  --bg: hsl(217 22% 95%);
  --bg-light: hsl(217 100% 100%);
  --text: hsl(217 28% 5%);
  --text-muted: hsl(217 6% 29%);
  --highlight: hsl(217 100% 100%);
  --border: hsl(217 4% 51%);
  --border-muted: hsl(217 5% 63%);
  --primary: hsl(217 54% 32%);
  --secondary: hsl(43 100% 15%);
  --danger: hsl(9 21% 41%);
  --warning: hsl(52 23% 34%);
  --success: hsl(147 19% 36%);
  --info: hsl(217 22% 41%);
  /* oklch */
  --bg-dark: oklch(0.92 0.005 260);
  --bg: oklch(0.96 0.005 260);
  --bg-light: oklch(1 0.005 260);
  --text: oklch(0.15 0.01 260);
  --text-muted: oklch(0.4 0.01 260);
  --highlight: oklch(1 0.01 260);
  --border: oklch(0.6 0.01 260);
  --border-muted: oklch(0.7 0.01 260);
  --primary: oklch(0.4 0.1 260);
  --secondary: oklch(0.4 0.1 80);
  --danger: oklch(0.5 0.05 30);
  --warning: oklch(0.5 0.05 100);
  --success: oklch(0.5 0.05 160);
  --info: oklch(0.5 0.05 260);
}

body {
  font-family: var(--font-sans);
  font-size: 16px;
  line-height: 1.8;
  padding-top: 1.5rem;
  color: var(--text);
  background-color: var(--bg);
  transition:
    color 0.2s ease,
    background-color 0.2s ease;
}

header,
main,
footer {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 1.5rem;
}
