<!DOCTYPE html>
<html lang="ko">
<head>
  <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"/>
  <link rel="icon" type="image/png" href="https://github.com/yoondahm.png">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}"> 
</head>
<body>
  <header>
    <nav>
      <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
    </nav>
  </header>
  <main>
    {{ content }}
  </main>
  <footer>
    <p>© 2026 {{ site.title }}</p>
  </footer>
</body>
</html>